{% extends 'base.html' %}    

{% block head_title %}
Wolfies
{% endblock head_title%}


{% block content %}

<div class='row text-center'> 
    <div class="col">
        <h1>Welcome to WolfPack</h1>
    </div>        
</div>


<div class='row' id='tweets'> <!--main div-->
    Loading...
</div>

<script>
const tweetsElement = document.getElementById("tweets")  //documents JS stuff

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/tweets"
const responseType = "json"


function handleDidLike (tweet_id, currentCount) {       
    console.log(tweet_id, currentCount)
    return 
}

function LikeBtn(tweet) {                                 // like button implementation
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + 
    tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
}

function formatTweetElement(tweet) {                          // a function to format tweets
    var formattedTweet = "<div class='col-12 border-top border-bottom py-3 mb-4 tweet' id='tweet-" + tweet.id 
    + "'><p>" + tweet.content + 
        "</p><div class='btn-group'>" + LikeBtn(tweet) +
        "</div></div>"
    return formattedTweet
}

xhr.responseType = responseType 
xhr.open(method, url)

xhr.onload = function() {
    const serverResponse = xhr.response                 // httprequests response
    const listedItems = serverResponse.response        // grab all listed items 
    var finalTweetStr = ""
    var i;
    for (i=0;i<listedItems.length; i++) {              // looping through all tweets and formatting them for output
        var tweetObj = listedItems[i]
        var currentItem = formatTweetElement(tweetObj)
        finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
}   
xhr.send()


</script>
{% endblock content %}